#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

li {
  list-style-type: none;
  padding-bottom: 0.25rem;
}

/* .username, .commentName {
  color: #646cff;
}
.email, .commentBody {
  color: #ff6464;
} */
